{form name="lang_edit"}
{input name='langId'}
<table class="sc_table_1 sc_form">
    <tr class="sc_alt2 sc_tr_first">
        <td class="sc_label">{label name='label'}</td>
        <td class="sc_value">{input name='label'}</td>
        <td class="sc_desc">{desc name='label'}</td>
    </tr>
    <tr class="sc_alt1">
        <td class="sc_label">{label name='tag'}</td>
        <td class="sc_value">{input name='tag'}</td>
        <td class="sc_desc">{desc name='tag'}</td>
    </tr>
    <tr class="sc_alt2 sc_tr_last">
        <td class="sc_label">{label name='rtl'}</td>
        <td class="sc_value">{input name='rtl'}</td>
        <td class="sc_desc">{desc name='rtl'}</td>
    </tr>
</table>
<div class="clearfix"><div class="sc_right">{submit name='submit' class="sc_positive"}</div></div>
{/form}