{capture assign="back_url"}{url_for_route for="admin_pages_main"}{/capture}

<div class="sc_stdmargin">{decorator name="button" class="sc_ic_left_arrow" onclick="location.href='`$back_url`';" langLabel="base+pages_back"}</div>
{form name="edit-form"}
<div class="sc_superwide sc_automargin">
<table class="sc_table_1 sc_form">

    <tr id="title-tr" class="{cycle values="sc_alt2, sc_alt1"} sc_tr_first">
        <td class="sc_label">
        	{label name="name"}
       	</td>
        <td class="sc_value">
        	{input name="name"}
        	<br />{error name="name"}
        </td>        
    </tr>

    <tr class="{cycle values="sc_alt2, sc_alt1"} sc_tr_last" >
        <td class="sc_label">{label name="visible-for"}</td>
        <td class="sc_value">
        	{input name="visible-for"}
        	<br />{error name="visible-for"}
       </td>
    </tr>

</table>
<div class="clearfix sc_stdmargin"><div class="sc_right">{submit name="save" class="sc_positive"}</div></div>
</div>
{/form}