{$menu}

{form name="sitemapForm"}
    <table class="sc_table_1 sc_form">
        <tbody>

            <tr class="sc_tr_first">
                <th colspan="3" class="sc_name sc_txtleft">
                    <span class="sc_section_icon sc_ic_script">{text key="admin+seo_sitemap_settings"}</span>
                </th>
            </tr>

            <tr class="sc_alt{cycle values='1,2'}">
                <td class="sc_label">
                    {label name=schedule}
                </td>
                <td class="sc_value">
                    {input name="schedule"}
                    <p>{error name="schedule"}</p>
                </td>
                <td class="sc_desc sc_small">
                    {desc name=schedule}
                </td>
            </tr>

            <tr class="sc_tr_delimiter"><td></td></tr>

            {if $formEntitites}
                <tr class="sc_tr_first">
                    <th colspan="3" class="sc_name sc_txtleft">
                        <span class="sc_section_icon sc_ic_files">
                            {text key="admin+seo_sitemap_page_types"}
                        </span>
                    </th>
                </tr>

                {foreach from=$formEntitites item=entityName}
                    <tr class="sc_alt{cycle values='1,2'}">
                        <td class="sc_label">
                            {label name=$entityName}
                        </td>
                        <td class="sc_value" colspan="2">
                            {input name=$entityName}
                            <p>{error name=$entityName}</p>
                        </td>
                    </tr>
                {/foreach}
            {/if}

        </tbody>
    </table>

    {block_decorator name="box" type="empty" addClass="sc_center sc_anno sc_smallmargin"}
        {text key='admin+seo_sitemap_note_desc' siteMapUrl=$sitemapUrl}
    {/block_decorator}

    <div class="sc_right">
        {submit name="save" class="sc_ic_save sc_submit sc_right"}
    </div>
    <div class="clearfix"></div>

{/form}
